.buttons-style__type {
    background-color: $primery-text-color;
    color: $title-text-color;
    font-weight: 500;
    padding: 6px 22px;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 8px;
    border: 1px solid transparent;
    transition: $tranzition;
    outline: none;
  
    &:hover,
    &:focus {
    background-color: $accent-color;
    color: $accent-text-color;
    box-shadow:$card-shadow;
  }}
  .buttons-style {
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding-left: 0;
    padding-top: 94px;
    margin-bottom: 50px;
  }