.footer__col-section {
  text-transform: uppercase;
  text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    margin-bottom: 20px;
    letter-spacing: 0.03em;
    color: $accent-text-color;

    @media screen  and(min-width:768px){
      padding-top: 65px;
    }

}
  .footer__col-font {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    margin-bottom: 60px;
    
    @media screen  and(min-width:1200px){
    margin-left: 70px;

  }}
  
  .footer__col-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    font-size: 0;
    margin-right: 10px;
    color: $accent-text-color;
    background-color: rgba(255, 255, 255, 0.1);
    transition: $tranzition;
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $accent-text-color;
  
  }
}
  
  .footer__col-symbol {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
  